In [1]:
! pip install pyMySQL
! pip install ipython.sql
! pip install mysqlclient

Collecting pyMySQL
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pyMySQL
Successfully installed pyMySQL-1.1.1
Collecting ipython.sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython.sql)
  Downloading prettytable-3.12.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from ipython.sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from ipython.sql) (2.0.34)
Collecting sqlparse (from ipython.sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from ipython.sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from ipython.sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython.sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython.sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from ipython->ipython.sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from ipython->ipython.sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from ipython->ipython.sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from ipython->ipython.sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from ipython->ipython.sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from ipython->ipython.sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from ipython->ipython.sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from ipython->ipython.sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from prettytable->ipython.sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from jedi>=0.16->ipython->ipython.sql) (0.8.3)
Requirement already satisfied: executing in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from stack-data->ipython->ipython.sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from stack-data->ipython->ipython.sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\jyothi reddy\anaconda3\anaconda\lib\site-packages (from stack-data->ipython->ipython.sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading prettytable-3.12.0-py3-none-any.whl (31 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: sqlparse, prettytable, ipython.sql
Successfully installed ipython.sql-0.5.0 prettytable-3.12.0 sqlparse-0.5.3
Collecting mysqlclient
  Downloading mysqlclient-2.2.6-cp312-cp312-win_amd64.whl.metadata (4.8 kB)
Downloading mysqlclient-2.2.6-cp312-cp312-win_amd64.whl (207 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.6

In [7]:
import pymysql

In [13]:
db_name="warehouse"
db_host="localhost"
db_username="root"
db_password="JYO123@"
try:
    conn=pymysql.connect(host=db_host,
                         port=int(3306),
                         user="root",
                         password="JYO123@",
                         db=db_name)
except e:
    print(e)
if conn:
    print("connection successfull")
else:
   print("error")

connection successfull

In [10]:
import pymysql
mydb=pymysql.connect(host="localhost",user="root",password="JYO123@")
mycursor=mydb.cursor()
mycursor.execute("show databases")

17

In [14]:
import pymysql

try:
    # Establishing the connection
    conn = pymysql.connect(host="localhost", user="root", passwd="JYO123@")
    m1 = conn.cursor()
    
    # Executing the query
    m1.execute("show databases")
    
    print("Available Databases:")
    i = 1
    for db in m1:
        print(f"{i}. {db[0]}")
        i += 1

# Catching and printing the error
except Exception as e:
    print(f"Error:Â {e}")

Available Databases:
1. accmaster
2. bank
3. employee
4. information_schema
5. institue
6. institute
7. items
8. library
9. management
10. mysql
11. performance_schema
12. school
13. schools
14. student
15. sys
16. teachers
17. warehouse

In [1]:
import pymysql
db_name="school"
db_host="localhost"
db_username="root"
db_password="JYO123@"
try:
    conn=pymysql.connect(host=db_host,
                         port=int(3306),
                         user="root",
                         password="JYO123@",
                         db=db_name)
except e:
    print(e)
if conn:
    print("connection successfull")
else:
   print("error")

connection successfull

In [2]:
import pymysql

try:
    conn = pymysql.connect(host="localhost", user="root", password="JYO123@")
    m1 = conn.cursor()
    m1.execute("select * from school")
    print("School Database:")
    i = 1
    for db in m1:
        print(db[0])  
        i += 1
except Exception as e:  # Corrected syntax for exception handling
    print(e)

(1046, 'No database selected')

In [4]:
import pymysql
db_name="accmaster"
db_host="localhost"
db_username="root"
db_password="JYO123@"
try:
    conn=pymysql.connect(host=db_host,
                         port=int(3306),
                         user="root",
                         password="JYO123@",
                         db=db_name)
except e:
    print(e)
if conn:
    print("connection successfull")
else:
   print("error")

connection successfull

In [5]:
mycursor=conn.cursor()
mycursor.execute("select * from accmaster")
for x in mycursor:
    print(x[0],x[1],' ',x[2])

AC001 kiran   10000.00
AC002 ajay   5000.00
AC003 suresh   12000.00
AC004 kishore   6000.00
AC005 amar   8000.00
AC006 ravi   4000.00

In [6]:
import pymysql
db_name="school"
db_host="localhost"
db_username="root"
db_password="JYO123@"
try:
    conn=pymysql.connect(host=db_host,
                         port=int(3306),
                         user="root",
                         password="JYO123@",
                         db=db_name)
except e:
    print(e)
if conn:
    print("connection successfull")
else:
   print("error")
mycursor=conn.cursor()
regno=int(input("enter regno"))
na=input("enter name")
mycursor.execute("insert into school(regno,sname) values(" + str(regno) + ",'" + na + " ')")
mycursor.execute("commit");

connection successfull

enter regno 419
enter name JYOTHI

In [7]:
import pymysql
db_name = "accmaster"
db_host = "localhost"
db_username = "root"
db_password = "JYO123@"
try:
    conn = pymysql.connect(
        host=db_host,
        port=3306,
        user=db_username,
        password=db_password,
        db=db_name
    )
except Exception as e:
    print(f"Error connecting to the database: {e}")
    conn = None

if conn:
    print("Connection successful")
else:
    print("Error in connection")
    exit()

try:
    accmcursor = conn.cursor()
    acctcursor = conn.cursor()
    accmcursor.execute("SELECT accno, balance FROM accmaster")
    accounts = accmcursor.fetchall()
    ano = input("Enter Account Number: ")
    tty = input("Enter Transaction Type (withdraw or deposit): ").lower()
    tamt = int(input("Enter Transaction Amount: "))
    flag = False
    for acc in accounts:
        if acc[0] == ano:
            flag = True
            bal = acc[1]
            break
    if flag:
        if tty == "deposit":
            bal += tamt
        elif tty == "withdraw":
            if tamt > bal:
                print("Insufficient funds for withdrawal.")
                conn.close()
                exit()
            bal -= tamt
        else:
            print("Invalid transaction type.")
            conn.close()
            exit()
        sqlUpd = "UPDATE accmaster SET balance = %s WHERE accno = %s"
        val = (bal, ano)
        acctcursor.execute(sqlUpd, val)
        conn.commit()
        print("Transaction completed successfully.")
    else:
        print("Account number not found.")

except Exception as e:
    
    print(f"An error occurred: {e}")
    conn.rollback()
finally:
    
    conn.close()

Connection successful

Enter Account Number:  101
Enter Transaction Type (withdraw or deposit):  withdraw
Enter Transaction Amount:  2000

Account number not found.

In [1]:
import pymysql
db_name = "Library"
db_host = "localhost"
db_username = "root"
db_password = "JYO123@"
class DBConnection:
    def _init_(self):
        try:
            self.conn = pymysql.connect(
                host=db_host,
                port=3306,
                user=db_username,
                password=db_password,
                db=db_name
            )
            self.mycursor = self.conn.cursor()
        except Exception as e:
            print(f"Error connecting to the database: {e}")
            self.conn = None
            self.mycursor = None
    def commit(self):
        if self.conn:
            self.conn.commit()
    def close(self):
        if self.conn:
            self.conn.close()

class Book(DBConnection):
    def _init_(self):
        super()._init_()

    def setBook(self):
        try:
            self.book_id = int(input("Enter book ID: "))
            self.title = input("Enter title: ")
            self.author = input("Enter author: ")
            self.ISBN = int(input("Enter ISBN: "))
            self.status = input("Enter status: ")
            self.mycursor.execute("INSERT INTO Book (book_id, title, author, ISBN, status) VALUES (%s, %s, %s, %s, %s)",
                                  (self.book_id, self.title, self.author, self.ISBN, self.status))
            self.commit()
            print("Book added successfully.")
        except Exception as e:
            print(f"Error inserting book: {e}")

    def getBook(self):
        try:
            self.mycursor.execute("SELECT * FROM Book")
            result = self.mycursor.fetchall()
            for row in result:
                print(row)
        except Exception as e:
            print(f"Error fetching books: {e}")
class Members(DBConnection):
    def _init_(self):
        super()._init_()
    def setMembers(self):
        try:
            self.name = input("Enter name: ")
            self.member_id = input("Enter member ID: ")
            self.email = input("Enter email: ")
            self.borrowed_book = int(input("Enter number of borrowed books: "))
            self.mycursor.execute("INSERT INTO Members (name, member_id, email, borrowed_book) VALUES (%s, %s, %s, %s)",
                                  (self.name, self.member_id, self.email, self.borrowed_book))
            self.commit()
            print("Member added successfully.")
        except Exception as e:
            print(f"Error inserting member: {e}")
    def getMembers(self):
        try:
            self.mycursor.execute("SELECT * FROM Members")
            result = self.mycursor.fetchall()
            for row in result:
                print(row)
        except Exception as e:
            print(f"Error fetching members: {e}")
class Staff(Members):
    def _init_(self):
        super()._init_()
    def setStaff(self):
        try:
            self.staff_id = int(input("Enter staff ID: "))
            self.member_id = input("Enter member ID: ")
            self.mycursor.execute("INSERT INTO Staff (staff_id, member_id) VALUES (%s, %s)",
                                  (self.staff_id, self.member_id))
            self.commit()
            print("Staff added successfully.")
        except Exception as e:
            print(f"Error inserting staff: {e}")

In [2]:
def getStaff(self):
        try:
            self.mycursor.execute("SELECT * FROM Staff")
            result = self.mycursor.fetchall()
            for row in result:
                print(row)
        except Exception as e:
            print(f"Error fetching staff: {e}")
book = Book()
book.setBook()
book.getBook()
member = Members()
member.setMembers()
member.getMembers()
staff = Staff()
staff.setStaff()
staff.getStaff()

Enter book ID:  101
Enter title:  fairy tales
Enter author:  jyothi
Enter ISBN:  2101
Enter status:  available

Error inserting book: 'Book' object has no attribute 'mycursor'
Error fetching books: 'Book' object has no attribute 'mycursor'

Enter name:  jyothi
Enter member ID:  2034
Enter email:  jyothi@gmail
Enter number of borrowed books:  2

Error inserting member: 'Members' object has no attribute 'mycursor'
Error fetching members: 'Members' object has no attribute 'mycursor'

Enter staff ID:  301
Enter member ID:  2033

Error inserting staff: 'Staff' object has no attribute 'mycursor'

AttributeError: 'Staff' object has no attribute 'getStaff'

In [7]:
# Python and Mysql Combine Solutions
import pymysql 
def select_query(table_name, conditions):
    try:
        mydb = pymysql.connect(
            host="localhost",
            user="root",
            password="JYO123@",
            database="employee"
        )
        mycursor = mydb.cursor()
        sql_q = "SELECT e.*, d.dname FROM " + table_name + " AS e JOIN dept AS d ON e.deptno = d.deptno"
        if conditions:
            keys = []
            values = []
            for key, value in conditions.items():
                keys.append(key + " = %s")
                values.append(value)
            
            sql_q += " WHERE " + " AND ".join(keys)
        print("Executing query:", sql_q)
        mycursor.execute(sql_q, values)
        results = mycursor.fetchall()
        for x in results:
            print(x)
    
    except pymysql.MySQLError as err:
        print("Error: ", err)
    # finally:
    #     # Ensure the cursor and connection are closed
    #     if mycursor:
    #         mycursor.close()
    #     if mydb:
    #         mydb.close()
select_query('emp', {'job': 'MANAGER', 'dname': 'SALES'})

Executing query: SELECT e.*, d.dname FROM emp AS e JOIN dept AS d ON e.deptno = d.deptno WHERE job = %s AND dname = %s
(Decimal('7698'), 'BLAKE', 'MANAGER', Decimal('7839'), datetime.date(1981, 5, 1), Decimal('2850.00'), None, Decimal('30'), 'SALES')

In [8]:
import pymysql
employee_data = [
    (10, 'Alice', 'Manager'),
    (20, 'Bob', 'Engineer'),
    (30, 'Charlie', 'HR'),
    (40, 'David', 'Manager'),
    (50, 'Eve', 'Engineer'),
    (40, 'David', 'Manager')
]
def insert_details(employee_data):
    try:
        mydb =pymysql.connect(
            host="localhost",
            user="root",
            password="JYO123@",
            database="employee"
        )
        mycursor = mydb.cursor()
        sql="select * from emp"
        sqlINS="insert into emp(deptno,ename,job) values(%s,%s,%s)"
        for x in employee_data:
            mycursor.execute(sqlINS,x)
            mydb.commit()
        print("rows are inserted successfully")
    except:
        pass
insert_details(employee_data)

In [10]:
import pymysql
def select_query(table_name):
    try:
        mydb =pymysql.connect(
            host="localhost",
            user="root",
            password="JYO123@",
            database="employee"
        )
        mycursor = mydb.cursor()
        sql_query=""" SELECT job, AVG(sal) AS average_salary FROM """+table_name+"""
        GROUP BY job 
        ORDER BY average_salary DESC 
        LIMIT 3;"""
        mycursor.execute(sql_query)
        results=mycursor.fetchall()
        for x in results:
            print(x)
    except:
        pass
    finally:
        mycursor.close()
        mydb.close()
select_query("emp")

('PRESIDENT', Decimal('5000.000000'))
('ANALYST', Decimal('3000.000000'))
('MANAGER', Decimal('2758.333333'))